body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#linea-gatos {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja {
  border: 2px dashed #888;
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 8px;
  min-width: 60px;
  min-height: 40px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.caja span {
  display: none; /* oculta emojis */
}

.gato {
  font-size: 30px;
}